<!-- DOCTYPE, <html> 제거 -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="paging">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li th:if="${nowPageBlock > 1}">
        <a th:href="@{/board/cat/{cat}/{page}(cat=${categoryId}, page=${startPage - 1})}" aria-label="Previous">◀</a>
      </li>

      <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
          th:classappend="${i == nowPage} ? ' active' : ''">
        <a th:href="@{/board/cat/{cat}/{page}(cat=${categoryId}, page=${i})}"
           th:text="${i}">1</a>
      </li>

      <li th:if="${nowPageBlock < totalPageBlock}">
        <a th:href="@{/board/cat/{cat}/{page}(cat=${categoryId}, page=${endPage + 1})}" aria-label="Next">▶</a>
      </li>
    </ul>
  </nav>
</div>
